#join-validation-span{
    color: red;
}

.join-dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.join-dialog-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.invisible{
    display: none;
}
.visible{
    display: block;
}

.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}
.t-left{
    text-align: left;
}

.width100{
    width: 100%;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.category_button{
  background: url(/img/menu_image/category-background.jpeg);
  border:none;
  padding:0px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;

  width: 110px;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
}
.category_button:before,category_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.category_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.category_button:hover:before,category_button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.clicked{
    border:none;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}

.card {
    background-color: transparent;
    border: none;
}

.card-body {
    padding: 0;
}

.card-position {
    1width:450px;
    position: relative;
    1left: -78px;
}

.card-text {
    1width: 330px;
    height: 100px;
}

.btn-remove-image {
    float: right;
    background-color: transparent;
    border-color: transparent;
}

#tabbar{
    box-shadow: 10px 5px 15px lightgrey;
    background: url(/img/menu_image/category-background.jpeg);
    background-size: 110px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.card-contents {
    word-break: break-all;
}

.btn-primary {
    background-color: transparent;
    border-color: transparent;
    width: 250px;
}

.update-delete-btn, .submit-cancel-btn, .update-cancel-btn{
    margin-top: 5px;
    float: right;
}
.btn-review-update-form, .btn-review-delete {
    1color: white;
    1background-color: transparent;
    1border: 1px solid;
    1font-size: 10px;
}
.btn-review-update-form, .btn-review-update, .btn-review-delete, .btn-review-submit, .btn-review-submit-cancel, .btn-review-update-cancel {
    color: white;
    background-color: transparent;
    border: 1px solid;
    font-size: 10px;
}

.review-create-btn {
    margin: 20px 0;
}

.review-create-btn-image {
    width: 40px;
    height: 40px;
}
