<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-main">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" height="70px" /></a>
    <ul class="navbar-nav ml-auto navbar-left">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-bullhorn">
                    <span class="badge badge-danger">11</span>
                </i>
                쪽지
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/closet">
                <i class="fa fa-bullhorn"> </i>내 옷장
            </a>
        </li>
        {{#loginUser}}
        <div class="menubar">
            <li class="">
                <a href="#" class="user-profile dropdown-toggle">
                    {{#loginUser.imageUrl}}
                    <img src="{{loginUser.imageUrl}}" style="width: 29px; height: 29px"> {{loginUser.name}}
                    {{/loginUser.imageUrl}}
                    {{^loginUser.imageUrl}}
                    <img src="/img/avatar.png" style="width: 29px; height: 29px"> {{loginUser.name}}
                    {{/loginUser.imageUrl}}
                </a>
                <ul class="menuitem" style="display:none">
                    <li><a href="/api/users/logout" id="logout">Logout</a></li>
                </ul>
            </li>
        </div>
        {{/loginUser}}
        {{^loginUser}}
        <div class="menubar">
            <li class="">
                <a href="#" class="user-profile dropdown-toggle">
                    <img src="/img/no_profile.png" style="width: 29px; height: 29px"> Welcome, Guest!
                </a>
                <ul class="menuitem" style="display:none">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/join">Join</a></li>
                </ul>
            </li>
        </div>
        {{/loginUser}}
    </ul>
</nav>