<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-main">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" height="70px" /></a>
    <ul class="navbar-nav ml-auto navbar-left">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-bullhorn">
                    <span class="badge badge-danger">11</span>
                </i>
                쪽지
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/closet">
                <i class="fa fa-bullhorn"> </i>내 옷장
            </a>
        </li>
        {{#loginUser}}
        <div class="menubar">
            <li class="">
                <a href="#" class="user-profile dropdown-toggle">
                    {{#loginUser.imageUrl}}
                    <img src="{{loginUser.imageUrl}}" style="width: 29px; height: 29px"> {{loginUser.name}}
                    {{/loginUser.imageUrl}}
                    {{^loginUser.imageUrl}}
                    <img src="/img/avatar.png" style="width: 29px; height: 29px"> {{loginUser.name}}
                    {{/loginUser.imageUrl}}
                </a>
                <ul class="menuitem" style="display:none">
                    <li><a href="/api/users/logout" id="logout">Logout</a></li>
                </ul>
            </li>
        </div>
        {{/loginUser}}
        {{^loginUser}}
        <div class="menubar">
            <li class="">
                <a href="#" class="user-profile dropdown-toggle">
                    <img src="/img/no_profile.png" style="width: 29px; height: 29px"> Welcome, Guest!
                </a>
                <ul class="menuitem" style="display:none">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/join">Join</a></li>
                </ul>
            </li>
        </div>
        {{/loginUser}}
    </ul>
</nav>
<div align="center" style="background: url(/img/menu_image/category-background.jpeg); background-size: 110px;">
    <div id="buttons">
        <button value="0" class="category_button clicked" style="background-image: url(/img/menu_image/ride.jpeg);"></button>
        <button value="1" class="category_button" style="background-image: url(/img/menu_image/chicken.jpeg);"></button>
        <button value="2" class="category_button" style="background-image: url(/img/menu_image/pizza.jpeg);"></button>
        <button value="3" class="category_button" style="background-image: url(/img/menu_image/hansik.jpeg);"></button>
        <button value="4" class="category_button" style="background-image: url(/img/menu_image/jungsik.jpeg);"></button>
        <button value="6" class="category_button" style="background-image: url(/img/menu_image/jokbal.jpeg);"></button>
        <button value="7" class="category_button" style="background-image: url(/img/menu_image/ilsik.jpeg);"></button>
        <button value="8" class="category_button" style="background-image: url(/img/menu_image/yasik.jpeg);"></button>
    </div>
</div>