<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/custom/navbar.css" rel="stylesheet">
    <title>배짱이 생활</title>
    {{#block "header"}}
    {{> include/header}}
    {{/block}}
</head>
<body>

{{#block "navigator"}}
{{> include/navigator}}
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer"}}
{{> include/footer}}
{{/block}}
<script src="/js/util/htmlGenerator.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>