<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/timeline.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    메인 페이지
    <a href="/login">로그인</a>
    <a href="/join.html">회원가입</a>
    <a href="/reviews">글쓰기</a>
    <a href="/reviews/update">글수정</a>

    <ul class="cbp_tmtimeline" id="timeline_standard">
    </ul>
    <div id="loader" class="invisible"></div>
    <script type="module" src="/js/review/review.js"></script>
</body>
</html>