{{#partial "header"}}
<link href="/css/custom/timeline.css" rel="stylesheet">
<link href="/css/custom/chat.css" rel="stylesheet">
<link href="/css/custom/login.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="/css/rater/rater.css">
<link href="/css/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
{{/partial}}
{{#partial "content"}}

<div class="row" style="padding-top: 250px;">
    <div class="offset-lg-2 offset-md-2 col-lg-5 col-md-5 col-sm-7 col-xs-12" id="timeline-container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="timeline-align-container">
            <div class="form-check">
                <label>
                    <input type="radio" name="chk_info" value="0" checked> <span class="label-text">최신 순</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="chk_info" value="1"> <span class="label-text">별점 순</span>
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="chk_info" value="2"> <span class="label-text">부러워요 순</span>
                </label>
            </div>
        </div>
        <ul class="cbp_tmtimeline" id="timeline_standard">
        </ul>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="chat-container">
        <div class="chat">
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <img id="chat-avatar" src="/img/honey_combo.png" alt="avatar" width="30px" />
                    <span id="chat-name"></span>
                </div>
                <i class="fa fa-star"></i>
            </div>
            <div class="chat-history">
                <ul id="chat-message-container">
                </ul>
            </div>
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="chat-message-send" placeholder="메세지를 입력하세요." rows="3"></textarea>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <i class="fa fa-file-o" id="chat-send-file"></i> &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-file-image-o" id="chat-send-image"></i>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <button id="chat-send-btn" class="btn btn-primary bg-main float-right" type="button">보내기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loader" class="invisible"></div>

<div id="dialog" class="dialog">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 dialog-content" style="background: #fbfbfb; box-shadow: 5px 5px grey">
        <img src="img/ready.png" style="max-width: 100%"/>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="text-align: right">×</button>
                    <img src="/img/login_logo.png" width="100%">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control" id="userId" placeholder="이메일을 입력해주세요.">
                        </div>
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요.">
                        </div> <!-- /.input-group -->
                    </div> <!-- /.form-group -->
                </div> <!-- /.modal-body -->

                <div class="modal-footer">
                    <p id="login-validate-span"></p>
                    <button type="submit" id="btnLogin" class="form-control btn btn-primary bg-main" style="border-color: #36bfb8;">로그인</button>
                    <img id="kakao-login-btn" width="100%">
                </div> <!-- /.modal-footer -->
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="join-modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="text-align: right">×</button>
                    <img src="/img/join_logo.png" width="100%">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="email">아이디</label>
                                <div class="input-group">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="baezzangee@woowahan.com">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="name">이름</label>
                                <div class="input-group">
                                    <input id="name" class="form-control" name="name" placeholder="이름을 입력해주세요." type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="joinpassword">비밀번호</label>
                                <div class="input-group">
                                    <input id="joinpassword" type="password" name="joinpassword" class="form-control" placeholder="8-16자리 영문,숫자,특수문자로 조합">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="repassword">비밀번호 확인</label>
                                <div class="input-group">
                                    <input id="repassword" type="password" name="repassword" class="form-control" placeholder="8-16자리 영문,숫자,특수문자로 조합">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="name">전화번호</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="phone" placeholder="- 없이 입력해주세요.">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="birth">생년월일</label>
                                <div class="form-group input-group date" id="birth-container" style="position: relative">
                                    <span class="input-group-addon"><span class="fa fa-calendar" style="position: absolute; right: 13px; top: 11px; font-size: 18px; z-index: 4"></span></span>
                                    <input type="text" class="form-control" id="birth" placeholder="2018-01-01">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.modal-body -->
                <div class="modal-footer">
                    <span id="join-validation-span"></span>
                    <button type="button" id="join-form-send-btn" class="form-control btn btn-primary bg-main" style="border-color: #36bfb8; margin: 0px; width: 49%;">회원가입</button>
                    <button type="button" data-dismiss="modal" class="form-control btn btn-danger" style="margin: 0px; margin-left: 1%; width: 49%;">취소</button>
                </div> <!-- /.modal-footer -->
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="joinSuccessModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="text-align: right">×</button>
                    <img src="/img/join_success.png" width="100%">
                </div> <!-- /.modal-body -->
                <div class="modal-footer">
                    <button type="submit" data-dismiss="modal" class="form-control btn btn-primary bg-main" style="border-color: #36bfb8;">로그인해주세요.</button>
                </div> <!-- /.modal-footer -->
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/partial}}
{{#partial "footer"}}
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/js/moment/moment.min.js"></script>
<script src="/css/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/css/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="module" src="/js/home/home.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/review/rater.js" charset="utf-8"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="module" src="/js/user/login.js"></script>
<script type="module" src="/js/user/kakaologin.js"></script>
{{/partial}}
{{>base}}