<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/rater.css">
</head>
<body>
<h2>타임라인 등</h2>
<p>솔직한 나의 이야기를 적어주세요.</p>
<div class="card" style="width:400px">
    <img class="card-img-top" src="" style="width:100%">
    <div class="card-body">
        <input type="text" name="contents" class="card-text"> <br/><br/>
        <input type="file" name="image" class="btn btn-primary" id="btnImageUpload">
        <div class="rate" data-rate-value=0></div>
        <button type="button" id="btnDeleteImage" class="btn btn-danger invisible">삭제</button>
        <input type="button" id="btnSubmit" value="저장">
    </div>
</div>
<br>
<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/review/rater.js" charset="utf-8"></script>
<script type="module" src="/js/review/write.js"></script>
</body>
</html>