<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/timeline.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/rater.css">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<ul class="cbp_tmtimeline" id="timeline_standard">
    {{#orderFoods}}
    <li data-id="{{id}}">
        <time class="cbp_tmtime" datetime="{{orderTime}}"><span>{{writtenDate}}</span><span>{{writtenTime}}</span></time>
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
            <h2>{{food.name}} - {{food.restaurant.name}}</h2>
            <p>수량: {{quantity}}</p>
            {{#review}}
                {{#isDeleted}}
                <button type="button" class="orderfood-review-write">리뷰 쓰기</button>
                <div class="card invisible" style="width:400px ">
                    <img class="card-img-top" src="" style="width:200px">
                    <div class="card-body">
                        <input type="text" name="contents" class="card-text"> <br/><br/>
                        <input type="file" name="image" class="btn btn-primary" >
                        <div class="rate" data-rate-value=0></div>
                        <button type="button" class="btn btn-danger invisible">삭제</button>
                        <input type="button" class="btn-review-submit" value="저장">
                    </div>
                </div>
                {{/isDeleted}}
                {{^isDeleted}}
                <img class="card-img-top" src="{{imageUrl}}" style="width:200px">
                <p>{{contents}}</p>
                <div class="rate" data-rate-value={{starPoint}} style="pointer-events:none;"></div>
                {{/isDeleted}}
            {{/review}}
            {{^review}}
            <button type="button" class="orderfood-review-write">리뷰 쓰기</button>
            <div class="card invisible" style="width:400px ">
                <img class="card-img-top" src="" style="width:200px">
                <div class="card-body">
                    <input type="text" name="contents" class="card-text"> <br/><br/>
                    <input type="file" name="image" class="btn btn-primary" >
                    <div class="rate" data-rate-value=0></div>
                    <button type="button" class="btn btn-danger invisible">삭제</button>
                    <input type="button" class="btn-review-submit" value="저장">
                </div>
            </div>
            {{/review}}
            <p>글쓴이 - {{orderedUser.name}}</p>
            <p>{{food.restaurant.address}}</p>
        </div>
    </li>

    {{/orderFoods}}
</ul>
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/review/rater.js" charset="utf-8"></script>
<script type="module" src="/js/review/orderlist.js"></script>
</body>
</html>

