<html>
<head>
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

</head>
<body id="LoginForm">
<div class="container">
  <h1 class="form-heading">로그인</h1>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Admin Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login">
        <div class="form-group">
          <input type="email" class="form-control" id="userId" value="serverwizard2@naver.com" placeholder="Email Address">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" value="password" placeholder="Password">
        </div>
        <div class="forgot">
          <a href="reset.html">Forgot password?</a>
        </div>
        <button type="submit" id="btnLogin" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
  <a id="kakao-login-btn"></a>
  <a href="http://developers.kakao.com/logout"></a>
</div>
<script type="module" src="/js/user/login.js"></script>
<script type="module" src="/js/user/kakaologin.js"></script>
</body>
</html>