@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    height: 60px;

}
#chat-message-container{
    list-style: none;
}
.chat {
    width: 490px;
    float: left;
    background: #ebeef1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid white;
    color: #434651;
    box-shadow: 2px 2px #d6d6d6;
}
.chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
}
.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}
.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 300px;
}
.message-data {
    margin-bottom: 15px;
}
.message-data-time {
    color: #92959E;
    padding-left: 6px;
}
.message {
    color: white;
    padding: 5px 10px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
}
.my-message {
    background: #36bfb8;
    word-break: break-all;
}

.other-message {
    border: 2px solid #36bfb8;
    color: black;
}

.chat-message {
    padding: 30px;
}
.fa-file-o, .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.disabled-ui{
    background: #e2e2e2;
}
#chat-send-btn{
    border-color: #36bfb8;
    width: 100%;
}
.dialog {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.dialog-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}