{{#partial "header"}}
<link href="/css/custom/timeline.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
{{/partial}}
{{#partial "content"}}
<div id="buttons">
    <button value="0" class="category_button clicked">전체</button>
    <button value="1" class="category_button">치킨</button>
    <button value="2" class="category_button">피자</button>
    <button value="3" class="category_button">양식</button>
    <button value="4" class="category_button">한식</button>
    <button value="5" class="category_button">중식</button>
    <button value="6" class="category_button">일식</button>
    <button value="7" class="category_button">분식</button>
    <button value="8" class="category_button">햄버거</button>
</div>
<div id="timeline-align-container">
    <input type="radio" name="chk_info" value="0" checked="checked">주문시간순
    <input type="radio" name="chk_info" value="1">별점순
</div>
<ul class="cbp_tmtimeline" id="timeline_standard">
</ul>
<div id="loader" class="invisible"></div>
{{/partial}}
{{#partial "footer"}}
<script type="module" src="/js/review/closetReview.js"></script>
{{/partial}}
{{>base}}